<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" 
    id="com.eliberty.cordova.plugin.nepting"
    version="1.1.3">  

  <name>CordovaNepting</name>
  <description>Nepting SDK for Cordova</description>
  <license>MIT</license>
  <keywords>cordova,nepting,sdk, eliberty</keywords>

  <engines>
    <engine name="cordova" version=">=6.3.0"/>
  </engines>

  <asset src="www/cordova-nepting.js" target="js/cordova-nepting.js"/>

  <js-module src="www/cordova-nepting.js" name="CordovaNepting">
    <clobbers target="CordovaNepting" />
  </js-module>

  <platform name="android">
    <config-file target="config.xml" parent="/*">
        <feature name="CordovaNepting">
            <param name="android-package" value="com.eliberty.cordova.plugin.nepting.CordovaNepting"/>
        </feature>
    </config-file>

    <source-file src="src/android/CordovaNepting.java" target-dir="src/com/eliberty/cordova/plugin/nepting/" />        
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>