<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.eliberty.cordova.plugin.nepting"
    version="1.0.0">  

  <name>CordovaNepting</name>
  <description>Nepting SDK for Cordova</description>
  <license>MIT</license>
  <keywords>cordova,nepting,sdk, eliberty</keywords>
  <repo>https://github.com/eliberty/NetpingCordovaSDK.git</repo>

  <engines>
    <engine name="cordova" version=">=6.3.0"/>
  </engines>

  <asset src="www/cordova-nepting.js" target="js/cordova-nepting.js"/>  

  <platform name="android">
    <js-module src="www/cordova-nepting.js" name="CordovaNepting">
      <clobbers target="CordovaNepting" />
    </js-module>
    
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CordovaNepting">
            <param name="android-package" value="com.eliberty.cordova.plugin.nepting.CordovaNepting"/>
        </feature>
    </config-file>

    <source-file src="src/android/CordovaNepting.java" target-dir="src/com/eliberty/cordova/plugin/nepting/" />        
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>